body{
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.cointeyner{
    max-width: 1200px;
    min-width: auto;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
button{
    cursor: pointer;
}
ol,ul{
    list-style: none;
}
body a{
    text-decoration: none;
}

.user__loading{
    background: white;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 20px solid white;
    border-left-color: blue;
    margin-top: 100px;
    margin-left: 30px;
    animation: loading 1s infinite linear;
}
.albom__loading{
    background: white;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 20px solid white;
    border-left-color: blue;
    margin-top: 100px;
    margin-left: 160px;
    animation: loading 1s infinite linear;
}
.photo__loading{
    background: white;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 20px solid white;
    border-left-color: blue;
    margin-top: 100px;
    margin-left: 160px;
    animation: loading 1s infinite linear;
}
@keyframes loading{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.hidden{
    display: none;
}

.site__main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.user{
    border: 2px solid grey;
    width: 350px;
    height: 450px;
    overflow-y: scroll;
    padding: 20px 10px;
}
.user__list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.user__item{
    background: yellow;
    width: 100%;
    height: 150px;
    padding: 10px 20px;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-direction: column;
}
.user__content{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
}
.user_id{
    background: blue;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.albom{
    border: 2px solid grey;
    width: 600px;
    height: 450px;
    overflow-y: scroll;
    padding: 20px 10px;
}
.albom__list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.albom__item{
    background: yellow;
    width: 100%;
    height: 150px;
    padding: 10px 20px;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-direction: column;
}
.albom_id{
    background: blue;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.photo{
    border: 2px solid grey;
    width: 600px;
    height: 450px;
    overflow-y: scroll;
    padding: 20px 10px;
}
.photo__list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.photo__item{
    background: yellow;
    width: 100%;
    height: 150px;
    padding: 10px 20px;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-direction: column;
}
.photo__content{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
}
.photo_id{
    background: blue;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}